@import "tailwindcss";

@theme {
  --font-amethysta: "Amethysta", serif;
  --font-inria: "Inria Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

